*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

nav{
    background-color: burlywood;
    /* height: 100px; */
    width: 90%;
    border-radius: 30px;
}


li{
    display: inline-block;
    font-size: 30px;
    /* padding: 20px; */
    /* border: 2px solid black; */
    margin: 0px 30px;
}

a{    
    display: inline-block;
    font-family: sans-serif;
    padding: 15px;
    text-decoration: none;
    color: brown;
    /* border: 2px solid black; */
    border-radius: 40px;
    transition: .5s;
    
}

a:hover{
    background-color: #ffffff;
    font-size: 28px;
    color: gray;
}